* {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

li {
    list-style: none;
}

ul {
    display: flex;
    border-bottom: 1px solid white;
    padding: 1em;
    gap: 2.5rem;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper-inovasi,
.wrapper-keberlanjutan,
.wrapper-intraorganisasi,
.wrapper-ekstraorganisasi,
.wrapper-ambidexterity,
.wrapper-daurhidupfisik {
    padding: 1rem;
    border-radius: 16px;
}

.wrapper-inovasi {
    background-color: #619B8A;
}

.wrapper-keberlanjutan {
    background-color: #A1C181;
}

.wrapper-intraorganisasi {
    background-color: #FCCA46;
}

.wrapper-ekstraorganisasi {
    background-color: #FE7F2D;
}

.wrapper-ambidexterity {
    background-color: #577590;
}

.wrapper-daurhidupfisik {
    background-color: #e76f51;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    font-size: 1.375rem;
    font-weight: 600;
}

ul input {
    width: 3rem;
    height: 3rem;;
}

ul p {
    font-size: 1.2rem;
    font-weight: 600;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submit {
    padding: 8px;
    background-color: black;
    color:white;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#submit:hover {
    border:1px solid black;
    background-color: white;
    color: black;
}

.submit-button {
    display: flex;
    justify-content: end;
    margin-bottom: 0.5em;
}

#loading {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#hide {
    display: none;
}

@media (max-width: 600px) {
    form {
        width: 100%;
    }
    ul input {
    width: 2.5rem;
    height: 2.5rem;
    }
    ul p {
        font-size: 0.8rem;
    }
    ul {
        gap: 0.5rem;
        padding: 0.5rem;
    }
    label {
        font-size: 1rem;
    }
}

@media (max-width: 360px) {
    ul input {
        width: 2rem;
        height: 2rem;
    }
    ul p {
        font-size: 0.8rem;
    
    }
}